ul
{
    display: flex;
    justify-content:space-between; 
}

body
{
    background-color:rgba(216, 112, 147, 0.466);
 }

 .heading
 {
    width: 100%;
    text-align: center;
    background-color: rgba(216, 112, 147, 0.123);
     
 }







.outer-container
{
    width: 100%;
    /* min-height :400px; */
     /* background-color:rgba(216, 112, 147, 0.466); */
}

.outer-interview-list-heading
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: .5%;
    /* background-color:rgba(240, 48, 48, 0.664); */
}


.inner-interview-list-heading
{
 

    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: .5%;
    background-color: #3671acf8;
}

.inside-inner-interview-list-heading
{
    text-align:center;
    width: 22%;
}



 .outer-interview-list
{
    width: 100%;
    display: flex;
    justify-content: center

}
.outer-interview-list
{
    width: 100%;
    display: flex;
    justify-content: center

}
.interview-list
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: .5%;
    box-sizing: border-box;
    background-color: aliceblue;
}
.inner-interview-list
{
    
    width: 22%;
    font-size: 20px;
   font-weight:520;
    
}

.no-list
{
    margin-top: 20px;
    width: 100%;
    text-align: center;
     color: rgb(43, 41, 41);
  
  font-weight: bold;
  font-size: large;
}
.no-list span 
{
    background-color: rgb(255, 248, 156);
}